---
import Layout from "../layouts/Layout.astro";

import Hero from "@/components/sections/Hero.astro";
import About from "@/components/sections/About.astro";
import Skills from "@/components/sections/Skills.astro";
import Projects from "@/components/sections/Projects.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Languages from "@/components/sections/Languages.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
---

<Layout title="Alex Delgado's Portfolio">
  <main>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Languages />
    <Projects />
    <Skills />
  </main>
  <KeyboardManager />
</Layout>

<style>
  main {
    margin: auto;
    padding: 4rem;
    width: 100%;
  }
</style>
